.sidebar{
	display: flex;
	flex-direction: column;
	width: 20vw;
	height: 100vh;
	margin: 0
}

.sidebar .user{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30vh;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	position: relative;
	z-index: 1;
}

.sidebar .user img{
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	background-color: #e0e0e0;
	margin-bottom: 1vh;
}

.sidebar .user h3{
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

.sidebar h2{
	margin: 0;
	padding: 1em;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	overflow: hidden;
}

.sidebar ul li {
	margin: 0;
	padding: 0;
	padding-left: 2em;
	height: 2rem;
	align-items: center;
	display: flex;
}

.sidebar ul li:hover{
	background-color: rgba(0, 0, 0, 0.10);
	cursor: pointer;
}

.sidebar button{
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	color: rgb(170, 187, 204);
	min-height: 3rem;
	width: 100%;
	bottom: 0;
	background-color: rgb(14, 8, 27);
}

.sidebar button:hover{
	cursor: pointer;
}
